[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Spring Boot
[access "refs/*"]
	owner = group user/dahy911
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dahy911
	label-Verified = -1..+1 group user/dahy911
	push = group user/dahy911
	read = group user/dahy911
	rebase = group user/dahy911
	removeReviewer = group user/dahy911
	submit = group user/dahy911
[access "refs/heads/*"]
	create = group user/dahy911
	push = +force group user/dahy911
	pushMerge = group user/dahy911
	read = group user/dahy911
[access "refs/tags/*"]
	push = group user/dahy911
	push = +force group user/dahy911
